<nb-card>
    <nb-card-header>
      Liste Des Participants
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="participants" (deleteConfirm)="onDeleteConfirm($event)" (createConfirm)="addUser($event)" 
      (editConfirm)="editUser($event)" (custom)="onCustomAction($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>

<div *ngIf="showSessions">
  <nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-5">
      Participants <b>{{selectedParticipant.nom+" "+selectedParticipant.prenom}}</b>'s Sessions
      </div>
      <div class="col-1"><button type="button" class="btn btn-outline-dark" (click)="hide()">Hide</button></div>
    </nb-card-header>
    <nb-card-body>

        <table [nbTreeGrid]="partSessions">
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

          <ng-container [nbTreeGridColumnDef]="customColumn">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">

              <nb-tree-grid-row-toggle
                [expanded]="row.expanded"
                *ngIf="row.data.kind === 'dir'">
              </nb-tree-grid-row-toggle>

              {{row.data[customColumn] || "No Data Found!"}} 

            </td>
          </ng-container>

          <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
          </ng-container>
        </table>

      </nb-card-body>
  </nb-card>
  
</div>
  